<!-- /templates/index.html -->
<html xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <head>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>&#127911; Enhanced Spotify stats &#127911;</h1>

        <p> This basic flask app visualizes your enhanced Spotify statistics.
            <br> The app runs completely on your local machine and does not track any information! </p>

        <button onclick="window.location.href='top-artists';">
          Top artists
        </button>

        <button onclick="window.location.href='top-songs';">
          Top songs
        </button>

        <button onclick="window.location.href='top-albums';">
          Top albums
        </button>

        <br />
        <br />

        <button onclick="window.location.href='top-skipped-songs';">
          Top skipped songs
        </button>

        <button onclick="window.location.href='hours-listened';">
          Hours listened
        </button>


    </body>
</html>