<!-- /templates/index.html -->
<html xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <head>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>&#127911; Enhanced Spotify stats &#127911;</h1>

        <!-- <a href="top-songs"> Your top songs</a> -->

        <button onclick="window.location.href='top-songs';">
          Top songs
        </button>

        <button onclick="window.location.href='top-albums';">
          Top albums
        </button>


    </body>
</html>